.desert:root {

  /*corners, etc.*/
  --cornerSize: 4px;
  --smallCornerSize: 4px;
  --defaultPadding: 8px;

  /*main page*/
  --pageBackBG: #cbc4b6;
  --pageForeBG: #d8d0be;
  --navBarColor: #ffffffa2;
  --borderColor: #0b0221;
  --windowBorderColor: #4F321C;
  --windowTopBorderColor: #4F321C;

  /*page elements*/
  --mainText: #4F321C;
  --secondaryText: #825635;
  --buttonText: #ffffffa0;
  --accentColor: #4F321C;
  --mainButtonColor: #4F321C;

  /*reports*/
  --reportBG: #F8F1E3;
  --reportBGH: #F8F1E3;
  --reportBorderColor: #4F321C;

  --reportExpiredBG: #e6ca9f;
  --reportExpiredBGH: #e6ca9f;
  --reportExpiredBorderColor: #4F321C;

  /* tables */
  --tableAccent: #d1c3a8;

  body{
    background-image: url("../assets/desert/bgDesert.png");
    background-size: 150px;
    background-attachment: fixed;
  }

  nav {
    // background: linear-gradient(90deg, #3b00ba6b 0%, rgba(0, 99, 219, 0.459) 100%); looks cool
    background: linear-gradient(180deg, rgba(89,89,89,1) 0%, rgba(62,62,62,1) 5%, rgba(65,65,65,1) 45%, rgba(62,62,62,1) 92%, rgba(32,32,32,1) 100%); 
    box-shadow: rgba(0, 0, 0, 0.617) 0px 0px 10px;
    border-bottom: transparent;
    color: var(--pageForeBG);
    border-bottom-width: 1px;
    border-bottom-style: outset;
    display: flex;
    filter: none;
  }

  .navButton {
    background-color: none;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-top-color: rgb(112, 112, 112);
    border-style: solid;
    color: var(--pageForeBG);
    outline: 1px solid rgb(31, 31, 31);
  }

  .navButton:hover {
    background-color: none;
    color: var(--pageForeBG);
  }
  .navButton:active {
    background-color: #ffffff11;
    color: var(--pageForeBG);
    border-top-color: rgb(59, 59, 59);
    border-bottom-color: rgb(112, 112, 112);

  }

  .logo {
    color: var(--pageForeBG);
  }

  .logo:hover {
    color: white;
  }


  a{
    color: var(--secondaryText);
    text-decoration: underline;
  }
  .window{
    background: linear-gradient(180deg, rgba(89,89,89,1) 0%, rgba(62,62,62,1) 5%, rgba(65,65,65,1) 45%, rgba(62,62,62,1) 92%, rgba(32,32,32,1) 100%); 
    border-color: rgb(52, 52, 52);
    filter: none;
    box-shadow: rgba(0, 0, 0, 0.617) 0px 0px 20px;
    border-radius: var(--cornerSize);
    margin-bottom: 64px;
  }
  .windowContent{
    background-image: url(../assets/desert/bgDesertFg.png);
    background-size: 125px;
    box-shadow: inset black 0px 0px 5px;
  }
  .titleBar {
    background: linear-gradient(180deg, rgba(89,89,89,1) 0%, rgba(62,62,62,1) 5%, rgba(65,65,65,1) 45%, rgba(62,62,62,1) 92%, rgba(32,32,32,1) 100%); 
    color: rgb(205, 205, 205);
    box-shadow: rgba(0, 0, 0, 0.617) 0px 0px 10px;
  }
  .titleBarButton{
    height: 26px;
    top: -3px;
    background-color: transparent;
    border-color: transparent;
    border-top-color: transparent;
    &:hover{
      background-color: rgb(81, 81, 81);
    }
    &:active{
      background-color: rgb(122, 122, 122);
    }
  }
  .textInput,
  select {
    background: var(--pageForeBG);
    border-width: 1px;
    border-style: solid;
    border-color: var(--accentColor);
    box-shadow: none !important;

  }

  hr {
    border-top: 1px solid rgba(26, 26, 26, 0.489);
  }
  .search{
    background-image: url(../assets/glassdark.png);
  }
  .filterContainer{
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.466);
    color: rgb(205, 205, 205);
  }
  .filterSelect{
    background: rgba(0, 0, 0, 0.5);
    border-color: var(--borderColor);
    color: rgb(205, 205, 205);
  }
  .filterInput::placeholder{
    color: rgb(205, 205, 205);
  }
  .filterInput{
    background: rgba(0, 0, 0, 0.5);
    border-color: var(--borderColor);
    color: rgb(205, 205, 205);
  }

  .mainButton {
    background-color: #ece4d4;
    color: var(--mainText);
    filter: drop-shadow(0px 0px 5px #00000000);
    border-color: var(--mainButtonColor);
    border-top-color: var(--mainButtonColor);
    &:hover{
      background-color: #fff6e5;
      border-color: var(--mainButtonColor);
      border-top-color: var(--mainButtonColor);
      transform: none;
      transition: 0.15s;
      cursor: pointer;
    }
    &:active{
      transform: scale(90%);
      background-color: var(--pageBackBG);
      transition: 0.1s;
      cursor:default;
    }
  }
  .sendButton{
    background-color: #DDE8A6;
    color: #006308;

    &:hover{
      background-color: #DDE8A6;
    }
    &:active{
      background-color: #DDE8A6;
    }
  }

  hr {
    border-top: 1px solid var(--borderColor);
  }

  ::-moz-selection {
    color: white;
    background: #0088ff9f;
    
  }

  ::selection {
    color: white;
    background: #0088ff9f;

  }


  .trashButton,
  .trashButton:hover,
  .trashButton:active,
  .warningButton,
  .warningButton:hover,
  .warningButton:active,
  .successButton,
  .successButton:active,
  .successButton:active,
  .secondaryButton,
  .secondaryButton:active,
  .secondaryButton:hover {
    background-color: #ece4d4;
    color: var(--mainText);
    filter: drop-shadow(0px 0px 5px #00000000);
    border-color: var(--mainButtonColor);
    border-top-color: var(--mainButtonColor);
    &:hover{
      background-color: #fff6e5;
      border-color: var(--mainButtonColor);
      border-top-color: var(--mainButtonColor);
      transform: none;
      transition: 0.15s;
      cursor: pointer;
    }
    &:active{
      transform: scale(90%);
      background-color: var(--pageBackBG);
      transition: 0.1s;
      cursor:default;
    }
  }
  .secondaryButton{
    opacity: 0.8;
  }

  // .bottomButtons{
  //   .mainButton{
  //     background-color: rgba(255, 255, 255, 0.811);
  //     border-width: 1px;
  //     border-style: solid;
  //     border-color: rgba(0, 0, 0, 0.35);
  //     color: var(--mainText);
    
  //   &:hover{
  //     background-color: white;
  //   }
  //   &:active{
  //     background-color: white;
  //   }
  //   }
  // }


  .slider{
    background-color: #cbc4b6;
  }
  input:checked+.slider {
    background-color: var(--mainButtonColor);
    
  } 
  .slider:before {
    background-color: var(--pageForeBG);
  }

  /* REPORTS */

  .report {
    filter: drop-shadow(0px 0px 0px #0000005a);
    background-color: var(--reportBG);
    border-style: solid;
    border-width: 1px;
    border-color: var(--accentColor);
    border-top-color: #ffffff2f;
    border-radius: var(--smallCornerSize);

    &.selected{
      .waga1, .waga2, .waga3{
        background-color: #4F321C;
        border-color: #4F321C;
      }
      border-color: #4F321C;
      background-color: #ffbc89;
      &:hover{
        filter: none;
        background-color: #ffbc89;
      }
      filter: none;
    }
  }

  .report:hover {
    filter: drop-shadow(0px 0px 0px #0000009d);
    transform: scale(102.5%);
    transition: 0.5s;
    background-color: var(--reportBGH)

  }

  .CommentInput{
    border-bottom-color: #4F321C;
    color: var(--mainText);

    &::placeholder{
      color: var(--secondaryText);
    }
    }
    .CommentSend{
      background-color: #4F321C;
      &:hover{
        background-color: #724a2b;
      }
      &:active{
        background-color: #522f19;
      }
    }
    .comment {
      border-color: #4F321C;
    }


  .expired {
    background-color: var(--reportExpiredBG);
    border-color: var(--reportExpiredBorderColor);
    &:hover{
      background-color: var(--reportExpiredBGH);
    }
  }

  .clockExpired {
    background-image: url(../assets/alarmdark.png);
  }

  .reportTitle {
    margin: -21px;
    margin-top: -9px;
    margin-bottom: 0px;
    border-radius: var(--smallCornerSize);
    border-style: solid;
    border-width: 1px;
    height: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .waga1 {
    background-color: #ff8f8f;
    border-color: #6c002b;
  }

  .waga2 {
    background-color: #d28fff;
    border-color: #66305e;
  }

  .waga3 {
    background-color: #8f98ff;
    border-color: #144f73;
  }






  /* MODALS */

  .modalContainer {
   background-color: #000000d6 !important;
   animation: none;
  }

  .edit{
    background-image: url(../assets/editdark.png);
  }

  .code{
    background-color: #ffffff;
  }

  .closeButton{
    background-color: #454545;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: var(--smallCornerSize);
    height: 20px;
    width: 20px;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-top-color: rgb(112, 112, 112);
    border-style: solid;
    color: var(--pageForeBG);
    outline: 1px solid rgb(31, 31, 31);
    background-image: url(../assets/xw.png);
    background-size: 8px;
  }
  .closeButton:hover{
    background-color: #454545;
    background-image: url(../assets/xw.png);
  }
  .closeButton:active{
    background-image: url(../assets/xw.png);
    background-color: #ffffff11;
    color: var(--pageForeBG);
    border-top-color: rgb(59, 59, 59);
    border-bottom-color: rgb(112, 112, 112);
  }

  .modal {
    backdrop-filter: none;
    background-color: #ffffff;
    background-image: url(../assets/desert/wood.jpg);
    background-size: 250px;
    filter: drop-shadow(0px 0px 0px #00000000);
    box-shadow: (rgba(0, 0, 0, 0.617) 0px 0px 20px, inset black 0px 0px 5px), inset rgba(0, 0, 0, 0.292) 0px 0px 100px;


    overflow: hidden;
    border-color: #2b2b2b;
    color: #4F321C;
    a{color: #4F321C;}

    .daysLeftText{
      color: #4F321C;
    }
  }
  .edit{
    color: rgba(0, 0, 0, 0);
  }
  .modalTitle {
    background-color: rgba(255, 0, 0, 0);
    background: linear-gradient(180deg, rgba(89,89,89,1) 0%, rgba(62,62,62,1) 5%, rgba(65,65,65,1) 45%, rgba(62,62,62,1) 92%, rgba(32,32,32,1) 100%); 
    color: rgb(205, 205, 205);
    line-height: 32px;
    margin-top: 0px;
    height: 32px;
    padding-top: 0px;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;

  }

  .modalInfo {
    background-color: #ff000000;
  }

  .modalDescription {
    background-color: #0040ff00;
  }

  .progressBar {
    background-color: rgba(0, 0, 0, 0);
  }

  .progressBarText {
    color: rgba(0, 0, 0, 0.379);
  }

  .logElement {
    background-color: #eee3cd;
  }
  
  .logElement:nth-child(even) {
    background-color: #f4ebda;
  }


  .settingsTextInput{
    border-color: var(--windowBorderColor);
    background-color: #eee3cd;
    &:hover{
      background-color: var(--pageForeBG);
    }
    &:focus{
      background-color: var(--pageForeBG);
    }
  }
  
  // INTTAB STUFF

  .intTabContainer{
    width: 75%;
    margin: var(--defaultPadding) auto;
    overflow: hidden;
    border-radius: var(--smallCornerSize);
    border-color: var(--windowBorderColor);
    border-width: 1px;
    border-style: solid;
  }
  .intTabElement{
    background-color: #eee3cd;
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding-left: var(--defaultPadding);
    border-color: var(--windowBorderColor);
    border-width: 0.5px;
    border-top-style: solid;
    border-bottom-style: solid;
    transition: 0.2s;
  }
  .intTabElement:hover{
    background-color: var(--pageForeBG);
    transition: 0s;
  }
  .intTabElement:first-child
  {
    border-top-style: none;
  }
  .intTabElement:last-child
  {
    border-bottom-style: none;
  }
  .intTabInput{
    background: none;
    border-style: none;
    color: var(--mainText);
    width: 90%;
    font-size: 15px;
    padding-left: 0px;
    outline: none;
  }
  .intLongInput{
    background: none;
    border-style: none;
    color: var(--mainText);
    width: 60%;
    font-size: 15px;
    padding-left: 0px;
    outline: none;
    float: left;
    height: 24px;
  }
  .intSmallInput{
    background: none;
    border-style: none;
    color: var(--mainText);
    width: 25%;
    padding-left: var(--defaultPadding);
    font-size: 15px;
    outline: none;
    border-color: var(--windowBorderColor);
    border-width: 1px;
    border-left-style: solid;
    width: 100px;
    height: 24px;
  }

  .intTabButton{
    float: right;
    border: none;
    outline: none;
    height: 26px;
    width: 64px;
    margin-right: 8px;
    border-left-style: solid;
    border-width: 1px;
    border-color: var(--windowBorderColor);
    color: var(--mainText);
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.2s;
    &:hover{
      background-color: rgba(255, 255, 255, 0.195);
      transition: 0s;
    }
    &:active{
      background-color: rgba(0, 0, 0, 0.302);
    }
    &.dynamic{
      transform: translateX(46px);
      background-color: #DFCCB2;
      color: rgba(0, 0, 0, 0);
      &:hover{
        transform: translateX(0px);
        transition: 0.2s;
        background-color: #DFCCB2;
        color: rgb(69, 0, 35);

      }
    }
  }
  .intSuccess{
    background-color: rgba(153, 255, 0, 0.192);
    color: #006308;
    &:hover{
      background-color: rgba(153, 255, 0, 0.352);
      color: #008f0c;
    }
    &:active{
      background-color: rgba(153, 255, 0, 0.192);
      color: #006308;
    }

    &.dynamic{
      transform: translateX(46px);
      background-color: rgba(153, 255, 0, 0.192);
      color: #00630800;
      &:hover{
        transform: translateX(0px);
        transition: 0.2s;
        background-color: rgba(153, 255, 0, 0.192);
        color: #006308;
      }
    }
  }
}