.highContrast:root {

  /*corners, etc.*/
  --cornerSize: 8px;
  --smallCornerSize: 4px;
  --defaultPadding: 8px;

  /*main page*/
  --pageBackBG: #000000;
  --pageForeBG: #000000;
  --navBarColor: #a42222a2;
  --borderColor: #ffffff;
  --windowBorderColor: #ffffff;
  --windowTopBorderColor: #ffffff;

  /*page elements*/
  --mainText: white;
  --secondaryText: white;
  --buttonText: white;
  --accentColor: #ffffff;
  --mainButtonColor: #ffffff;

  /*reports*/
  --reportBG: #000000;
  --reportBGH: #000000;
  --reportBorderColor: #ffffff;

  --reportExpiredBG: #000000;
  --reportExpiredBGH: #000000;
  --reportExpiredBorderColor: #ff6200;

  /* tables */
  --tableAccent: #ffffff;



  nav {
    // background: linear-gradient(90deg, #3b00ba6b 0%, rgba(0, 99, 219, 0.459) 100%); looks cool
    background-color: #000000;
    border-bottom: #ffee00;
    border-bottom-width: 1px;
    border-bottom-style: outset;
    display: flex;
    filter: none;
  }

  .navButton {
    background-color: none;
    color: #ffee00;
  }
  .navButton:hover {
    background-color: #ffee0010;
    color: #ffee00;
  }
  .navButton:active {
    background-color: #ffee0025;
    color: #ffee00;
  }


  a{
    color: var(--secondaryText);
    text-decoration: underline;
  }

  .window{
    filter: drop-shadow(0px 0px 50px #ffffff22);
  }

  .titleBar {
    background: #000000
  }

  .textInput,
  select {
    background: var(--pageForeBG);
    border-width: 1px;
    border-style: solid;
    border-color: var(--accentColor);
    box-shadow: none !important;

  }

  hr {
    border-top: 1px solid #ffffff !important;
  }


  .mainButton {
    background-color: #000000;
    color: #ffee00;
    border-color: #ffee00;
    border-top-color: #ffee00;
    &:hover{
      background-color: #000000;
      color: #ffee00;
      border-color: #ffee00;
      border-top-color: #ffee00;
      transform: 120%;
      transition: 0.15s;
      cursor: pointer;
    }
    &:active{
      transform: scale(90%);
      background-color: #ffee00;
    color: #000000;
      transition: 0.1s;
      cursor:default;
    }
  }
  
  hr {
    border-top: 1px solid var(--borderColor);
  }

  .logo {
    color: var(--mainText)
  }

  .logo:hover {
    color: #ffee00;
  }

  ::-moz-selection {
    color: #ffee00;
    background: #0000b9;
  }

  ::selection {
    color: #ffee00;
    background: #0000b9;
  }


  .trashButton,
  .trashButton:hover,
  .trashButton:active,
  .warningButton,
  .warningButton:hover,
  .warningButton:active,
  .successButton,
  .successButton:active,
  .successButton:active,
  .secondaryButton,
  .secondaryButton:active,
  .secondaryButton:hover {
    background-color: #000000;
    color: #ffee00;
    border-color: #ffee00;
    border-top-color: #ffee00;
    &:hover{
      background-color: #000000;
      color: #ffee00;
      border-color: #ffee00;
      border-top-color: #ffee00;
      transform: 120%;
      transition: 0.15s;
      cursor: pointer;
    }
    &:active{
      transform: scale(90%);
      background-color: #ffee00;
    color: #000000;
      transition: 0.1s;
      cursor:default;
    }
  }


  // .bottomButtons{
  //   .mainButton{
  //     background-color: rgba(255, 255, 255, 0.811);
  //     border-width: 1px;
  //     border-style: solid;
  //     border-color: rgba(0, 0, 0, 0.35);
  //     color: var(--mainText);
    
  //   &:hover{
  //     background-color: white;
  //   }
  //   &:active{
  //     background-color: white;
  //   }
  //   }
  // }


  .slider{
    background-color: #ffffff;
  }
  input:checked+.slider {
    background-color: #ffee00;
    
  } 
  .slider:before {
    background-color: var(--pageForeBG);
  }

  /* REPORTS */

  .report {
    filter: drop-shadow(0px 0px 0px #0000005a);
    background-color: var(--reportBG);
    border-style: solid;
    border-width: 1px;
    border-color: var(--accentColor);
    border-top-color: #ffffff2f;
    border-radius: var(--smallCornerSize);
    transform: none;
    hr{
      border-top: 1px solid black !important;
    }
  }

  .report:hover {
    transform: none;
    transition: 0.5s;
    background-color: var(--reportBGH)
  }


  .expired {
    background-color: var(--reportExpiredBG);
    border-color: var(--reportExpiredBorderColor);
    &:hover{
      background-color: var(--reportExpiredBGH);
    }

  }


  .reportTitle {
    margin: -21px;
    margin-top: -9px;
    margin-bottom: 0px;
    border-radius: var(--smallCornerSize);
    border-style: solid;
    border-width: 1px;
    height: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .waga1 {
    background-color: #550000;
    border-color: #ff0000;
  }

  .waga2 {
    background-color: #766900;
    border-color: #fffb00;
  }

  .waga3 {
    background-color: #005e06;
    border-color: #00ff26;
  }






  /* MODALS */

  .modalContainer {
    background-color: #0000006e;
  }

  .closeButton{
    background-color: #fffb00;
    height: 8px;
    width: 8px;
    border-width: 3px;
    border-style: solid;
    border-color: #fffb00;
  }
  .closeButton:hover{
    background-color: #000000;
    border-width: 3px;
    border-style: solid;
    border-color: #fffb00;
    background-image: none;
    cursor: pointer;
  }
  .closeButton:active{
    background-color: #fffb00;
    border-width: 3px;
    border-style: solid;
    border-color: #fffb00;
  }

  .modal {
    backdrop-filter: none;
    background-color: #000000;
    filter: drop-shadow(0px 0px 50px #8f98ff22);
    border-color: #fffb00;
    color: white;
    a{color: #00ffe1;}

    .daysLeftText{
      color: white;
    }
  }
  .edit{
    color: rgba(0, 0, 0, 0);
  }
  .modalTitle {
    background-color: rgba(255, 0, 0, 0);
  }

  .modalInfo {
    background-color: #ff000000;
  }

  .modalDescription {
    background-color: #0040ff00;
  }

  .progressBar {
    background-color: rgba(0, 0, 0, 0);
  }

  .progressBarText {
    color: rgba(0, 0, 0, 0.379);
  }

  .logElement {
    background-color: #000000;
    border-bottom: solid;
    border-color: white;
    border-width: 1px;
  }
  
  .logElement:hover{
    background-color: white;
    color: black !important;
    .secondary{color: black;}
  }

  .tableTitle{
    color:#000000 !important;
  }

  // INTTAB STUFF

  .intTabContainer{
    width: 75%;
    margin: var(--defaultPadding) auto;
    overflow: hidden;
    border-radius: var(--smallCornerSize);
    border-color: var(--windowBorderColor);
    border-width: 1px;
    border-style: solid;
  }
  .intTabElement{
    background-color: black;
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding-left: var(--defaultPadding);
    border-color: var(--windowBorderColor);;
    border-width: 0.5px;
    border-top-style: solid;
    border-bottom-style: solid;
    transition: 0.2s;
  }
  .intTabElement:hover{
    background-color: black;
    transition: 0s;
  }
  .intTabElement:first-child
  {
    border-top-style: none;
  }
  .intTabElement:last-child
  {
    border-bottom-style: none;
  }
  .intTabInput{
    background: none;
    border-style: none;
    color: var(--mainText);
    width: 90%;
    font-size: 15px;
    padding-left: 0px;
    outline: none;
  }
  .intLongInput{
    background: none;
    border-style: none;
    color: var(--mainText);
    width: 60%;
    font-size: 15px;
    padding-left: 0px;
    outline: none;
    float: left;
    height: 24px;
  }
  .intSmallInput{
    background: none;
    border-style: none;
    color: var(--mainText);
    width: 25%;
    padding-left: var(--defaultPadding);
    font-size: 15px;
    outline: none;
    border-color: var(--windowBorderColor);
    border-width: 1px;
    border-left-style: solid;
    width: 100px;
    height: 24px;
  }

  .intTabButton{
    float: right;
    border: none;
    outline: none;
    height: 26px;
    width: 64px;
    margin-right: 8px;
    border-left-style: solid;
    border-width: 1px;
    border-color: #fffb00;
    color: #fffb00;
    background-color: #0000b9;
    transition: 0.2s;
    &:hover{
      background-color: #fffb00;
      color: #0000b9;
      transition: 0s;
    }
    &:active{
      background-color: black;
    }
    &.dynamic{
      transform: translateX(46px);
      background-color: #0000b9;
      
      color: #fffb00;
      &:hover{
        transform: translateX(0px);
        transition: 0.2s;
        background-color: #0000b9;
        color: #fffb00

      }
    }
  }
  .intSuccess{
    background-color: #0000b9;
    color: #fffb00;
    &:hover{
      background-color: #fffb00;
      color: #0000b9;
    }
    &:active{
      background-color: black;
      color: #fffb00;
    }

    &.dynamic{
      transform: translateX(46px);
      background-color: #0000b9;
      color: #fffb0000;
      &:hover{
        transform: translateX(0px);
        transition: 0.2s;
        background-color: #0000b9;
        color: #fffb00;
      }
    }
  }
}