:root{
  --cornerSize: 8px;

  --pageBackBG: #333333;
  --pageForeBG: #333333; 
  --navBarColor: #1b1a1b9d;
  --mainText: #B8B8B8;
  --secondaryText: #8F8F8F;
  --accentColor: #FF7060;
}



body{
  color: var(--mainText);
  background-color: #333333;
  margin: 0px;
  padding: 0px;
  font-family: 'sfProDisplay';
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

button{
  padding: var(--test)
}

.card {
  padding: 2em;
}



nav{
  text-align: left;
  background-color: var(--navBarColor);
  padding: 15px;
}