:root{
  --cornerSize: 8px;
  --smallCornerSize: 4px;
  --defaultPadding: 8px;
  --pageBackBG: #333333;
  --pageForeBG: #333333; 
  --navBarColor: #1b1a1b9d;
  --mainText: #B8B8B8;
  --secondaryText: #8F8F8F;
  --buttonText: #ffffffa0;
  --accentColor: #FF7060;
}



body{
  color: var(--mainText);
  background-color: #333333;
  margin: 0px;
  padding: 0px;
  font-family: 'sfProDisplay';
  /* background-image: url(https://cataas.com/cat);
  background-repeat: no-repeat;
  background-size: cover;  */
}

.navButton{
  color: var(--buttonText);
  background-color: #ffffff00;
  border-style: none;
  /* width: 128px; */
  padding-left: var(--defaultPadding);
  padding-right: var(--defaultPadding);
  margin-left: 10px;
  border-radius: var(--cornerSize);
  transition: 0.2s;

}
.navButton:hover{
  background-color: #ffffff0d;
  transition: 0.0s;

}
.navButton:active{
  background-color: #ff706028;  
  color: var(--accentColor);
}
.navButton:last-child{
  margin-left: auto;  
  margin-right: 15px;
}


.window{
  background-color: #333333;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px ;
  filter: drop-shadow(0px 0px 10px #0000005a);
  border-radius: var(--cornerSize);

  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.120);
  border-top-color: rgba(255, 255, 255, 0.205);
  border-style: solid;
}

.titleBar{
  background-color: #333333;
  padding: var(--defaultPadding);
  border-top-left-radius: var(--cornerSize);
  border-top-right-radius: var(--cornerSize);
  background: linear-gradient(180deg, rgba(59,59,59,1) 19%, rgba(51,51,51,1) 100%, rgba(35,35,35,1) 105%); 
  border-width: 1px;
  border-color: #1d1d1d;
  border-bottom-style: solid;
  font-weight: bold;
}

.windowContent{

  min-height: 256px;
  background-color: #2b2b2b;
  border-bottom-left-radius: var(--cornerSize);
  border-bottom-right-radius: var(--cornerSize);
  display: flex;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0px;
  padding: 0px;
}



button{

}

.microsoftLoginButton{
padding-right: 12px;
padding-left: 12px;
height: 32px;
background-color: #1d1d1d;
border-color: #141414;
border-style: none;
border-radius: 2px;
color: var(--buttonText);
filter: drop-shadow(0px 0px 5px #0000005a);

}
.microsoftLoginButton span.micLogo{
  background: url(assets/microsoft.svg) no-repeat;
  background-size: 15px;
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 12px;
}


.textInput{
  background: linear-gradient(0deg, rgb(38, 38, 38) 0%, rgba(34,34,34,1) 100%); 
  border-color: #1d1d1d;
  border-width: 1px;
  color: var(--mainText);
  border-style: none;
  border-radius: var(--smallCornerSize);
  padding: var(--defaultPadding);
}

.divider{
  border-right-width: 1px;
  border-right-style: solid;
  border-color: var(--navBarColor);
  padding: 15px;
}

nav{
  position: fixed;
  z-index: 9999;
  margin-top: -100px;
  width: 100%;
  text-align: left;
  background-color: var(--navBarColor);
  filter: drop-shadow(0px 0px 5px #0000005a);
  padding: var(--defaultPadding);
  backdrop-filter: blur(20px);
  border-bottom: #ffffff53;
  border-bottom-width: 1px;
  border-bottom-style: outset;
  display: flex;
}

