:root{
  --cornerSize: 8px;
  --defaultPadding: 15px;

  --pageBackBG: #333333;
  --pageForeBG: #333333; 
  --navBarColor: #1b1a1b9d;
  --mainText: #B8B8B8;
  --secondaryText: #8F8F8F;
  --accentColor: #FF7060;
}



body{
  color: var(--mainText);
  background-color: #333333;
  margin: 0px;
  padding: 0px;
  font-family: 'sfProDisplay';
  /*background-image: url(https://cataas.com/cat);
  background-repeat: no-repeat;*/
}




.window{
  background-color: #333333;
  margin-left:250px ;
  margin-right:250px ;
  margin-top:100px ;
  filter: drop-shadow(0px 0px 5px #0000005a);
  border-radius: var(--cornerSize);
}

.titleBar{
  background-color: #555555;
  padding: var(--defaultPadding);
  border-top-left-radius: var(--cornerSize);
  border-top-right-radius: var(--cornerSize);
  background: linear-gradient(180deg, rgba(59,59,59,1) 19%, rgba(51,51,51,1) 92%, rgba(35,35,35,1) 100%); 
}
.windowContent{
  padding: var(--defaultPadding);
  min-height: 128px;
}




#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

button{
  padding: var(--test)
}

.card {
  padding: 2em;
}



nav{
  text-align: left;
  background-color: var(--navBarColor);
  filter: drop-shadow(0px 0px 5px #0000005a);
  padding: 15px;
  backdrop-filter: blur(20px);
  border-bottom: #ffffff53;
  border-bottom-width: 1px;
  border-bottom-style: outset;
}