.light:root {
    --cornerSize: 8px;
    --smallCornerSize: 4px;
    --defaultPadding: 8px;
    --pageBackBG: #c50808;
    --pageForeBG: #333333;
    --navBarColor: #1b1a1b9d;
    --mainText: #b8b8b8;
    --secondaryText: #ffffff6f;
    --buttonText: #ffffffa0;
    --accentColor: #FF7060;
}