:root {
    --cornerSize: 8px;
    --smallCornerSize: 4px;
    --defaultPadding: 8px;
    --pageBackBG: #333333;
    --pageForeBG: #333333;
    --navBarColor: #1b1a1b9d;
    --mainText: #B8B8B8;
    --secondaryText: #ffffff6f;
    --buttonText: #ffffffa0;
    --accentColor: #FF7060;
}
