.retro:root {

  /*corners, etc.*/
  --cornerSize: 0px;
  --smallCornerSize: 0px;
  --defaultPadding: 4px;

  /*main page*/
  --pageBackBG: #037F85;
  --pageForeBG: #C0C2C0;
  --navBarColor: #C0C2C0;
  --borderColor: #404040;
  --windowBorderColor: #404040;
  --windowTopBorderColor: #404040;

  /*page elements*/
  --mainText: #000000;
  --secondaryText: #000000;
  --buttonText: #ffffffa0;
  --accentColor: rgb(8,7,123);
  --mainButtonColor: #4F321C;

  /*reports*/
  --reportBG: #C0C2C0;
  --reportBGH: #C0C2C0;
  --reportBorderColor: #C0C2C0;

  --reportExpiredBG: #C0C2C0;
  --reportExpiredBGH: #C0C2C0;
  --reportExpiredBorderColor: #C0C2C0;

  /* tables */
  --tableAccent: #d1c3a8;

  nav {
    // background: linear-gradient(90deg, #3b00ba6b 0%, rgba(0, 99, 219, 0.459) 100%); looks cool
    background-color: #C0C2C0;
    border: none;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
    display: flex;
    filter: none;
  }

  .navButton {
    background-color: none;
    color: #000000;
  }
  .navButton:hover {
    background-color: #4f321c11;
    color: #000000;
  }
  .navButton:active {
    background-color: #4f321c34;
    color: #000000;
  }


  a{
    color: var(--secondaryText);
    text-decoration: underline;
  }

  .textInput,
  select {
    background: white;
    border-style: none;
    box-shadow: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a !important;
  }

  hr {
    border-top: 1px solid rgba(26, 26, 26, 0.489);
  }


  .mainButton {
    filter: none;
    border-style: none;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
    color: var(--mainText);
    background-color: var(--pageForeBG);
    transition: 0.0s;
    &:hover{
      transform: none;
    }
    &:active{
      box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
      background-color: var(--pageForeBG);
      transform: none;
    }
    &:focus{
      outline: 1px dotted #000000;
  outline-offset: -4px;
    }
  }
  
  hr {
    border-top: 1px solid var(--borderColor);
  }

  .logo {
    color: var(--mainText)
  }

  .logo:hover {
    color: #ae764a;
  }

  ::-moz-selection {
    color: white;
    background: rgb(8,7,123);
  }

  ::selection {
    color: white;
    background: rgb(8,7,123);
  }

  .titleBar{
    background: rgb(8,7,123);
    background: linear-gradient(90deg,navy,#1084d0);
    color: white;
    text-align: left;
    border:none;
    margin: 1px 2px;
  }
  .window{
    border: none;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff !important;
    padding: 2px;
    background-color: var(--pageForeBG);
  }

  .trashButton,
  .trashButton:hover,
  .trashButton:active,
  .warningButton,
  .warningButton:hover,
  .warningButton:active,
  .successButton,
  .successButton:active,
  .successButton:active,
  .secondaryButton,
  .secondaryButton:active,
  .secondaryButton:hover {
    filter: none;
    border-style: none;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
    color: var(--mainText);
    background-color: var(--pageForeBG);
    transition: 0.0s;
    &:hover{
      transform: none;
    }
    &:active{
      box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
      background-color: var(--pageForeBG);
      transform: none;
    }
  }


  // .bottomButtons{
  //   .mainButton{
  //     background-color: rgba(255, 255, 255, 0.811);
  //     border-width: 1px;
  //     border-style: solid;
  //     border-color: rgba(0, 0, 0, 0.35);
  //     color: var(--mainText);
    
  //   &:hover{
  //     background-color: white;
  //   }
  //   &:active{
  //     background-color: white;
  //   }
  //   }
  // }


  .switch {
    position: relative;
    display: inline-block;
    width: 1px;
    height: 1px;
    margin-top: 0%;
    margin-left: 4px;
    transform: translateY(0px);
  }
  
  /* hides og checkbox */
  .switch input {
    opacity: 1;
    width: 15px;
    height: 15px;
    background-color: black;
  }
  /* slider */
  .slider {
    display: none;
  }

  /* REPORTS */

  .reportContainer{
    background: white;
    border-style: none;
    box-shadow: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a !important;
    width: 75% !important;
    margin: auto;
  }

  .report {
    filter: drop-shadow(0px 0px 0px #0000005a);
    background-color: var(--reportBG);
    border: none;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff !important;
    border-radius: var(--smallCornerSize);
  }

  .report:hover {
    filter: drop-shadow(0px 0px 0px #0000009d);
    transform: none;
    transition: 0.5s;
    background-color: var(--reportBGH)

  }


  .expired {
    background-color: var(--reportExpiredBG);
    &:hover{
      background-color: var(--reportExpiredBGH);
    }
  }


  .reportTitle {
    margin: -20px;
    margin-top: -8px;
    margin-bottom: 0px;
    border-radius: var(--smallCornerSize);
    border-style: solid;
    border-width: 0px;
    height: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .waga1 {
    border: none;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff !important;
    background-color: #ff0000;
  }

  .waga2 {
    border: none;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff !important;
    background-color: #9900ff;
  }

  .waga3 {
    border: none;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff !important;
    background-color: #0015ff;
  }

  .creditsText{
    color: #404040
  }




  /* MODALS */

  .modalContainer {
    background-color: #0000006e;
  }

  .code{
    background-color: #ffffff;
  }

  .closeButton{
    background-color: #83532e;
  }
  .closeButton:hover{
    background-color: #83532e;
    background-image: none;
  }
  .closeButton:active{
    background-color: #4F321C;
  }

  .modal {
    backdrop-filter: none;
    background-color: #F8F1E3;
    border: none;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff !important;
    padding: 2px;
    background-color: var(--pageForeBG);
    filter: none;
    color: #4F321C;
    a{color: #4F321C;}

    .daysLeftText{
      color: #4F321C;
    }
  }
  .edit{
    color: rgba(0, 0, 0, 0);
  }
  .modalTitle {
    background-color: rgba(255, 0, 0, 0);
  }

  .modalInfo {
    background-color: #ff000000;
  }

  .modalDescription {
    background-color: #0040ff00;
  }

  .progressBar {
    background-color: rgba(0, 0, 0, 0);
  }

  .progressBarText {
    color: rgba(0, 0, 0, 0.379);
  }

  .logElement {
    background-color: #eee3cd;
  }
  
  .logElement:nth-child(even) {
    background-color: #f4ebda;
  }


  
  // INTTAB STUFF

  .intTabContainer{
    width: 75%;
    margin: var(--defaultPadding) auto;
    overflow: hidden;
    border-radius: var(--smallCornerSize);
    border-style: none;
    box-shadow: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a !important;
    padding: 2px;
  }
  .intTabElement{
    background-color: white;
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding-left: var(--defaultPadding);
    border-color: var(--windowBorderColor);
    border-width: 0.5px;
    border-top-style: solid;
    border-bottom-style: solid;
    transition: 0.2s;

  }
  .intTabElement:hover{
    background-color: white;
    transition: 0s;
  }
  .intTabElement:first-child
  {
    border-top-style: none;
  }
  .intTabElement:last-child
  {
    border-bottom-style: none;
  }
  .intTabInput{
    background: none;
    border-style: none;
    color: var(--mainText);
    width: 90%;
    font-size: 15px;
    padding-left: 0px;
    outline: none;
  }
  .intLongInput{
    background: none;
    border-style: none;
    color: var(--mainText);
    width: 60%;
    font-size: 15px;
    padding-left: 0px;
    outline: none;
    float: left;
    height: 24px;
  }
  .intSmallInput{
    background: none;
    border-style: none;
    color: var(--mainText);
    width: 25%;
    padding-left: var(--defaultPadding);
    font-size: 15px;
    outline: none;
    border-color: var(--windowBorderColor);
    border-width: 1px;
    border-left-style: solid;
    width: 100px;
    height: 24px;
  }

  .intTabButton, .intSuccess{
    float: right;
    border: none;
    outline: none;
    height: 26px;
    width: 64px;
    margin-right: 4px;
    border-style: none;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
    color: var(--mainText);
    background-color: var(--pageForeBG);
    transition: 0.0s;
    &:hover{
      background-color: var(--pageForeBG);
      transition: 0s;
    }
    &:active{
      box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    }
    &.dynamic{
      transform: translateX(52px);
      color: rgb(0, 0, 0);
      transition: 0s;
      transition-timing-function: linear;
      &:hover{
        transform: translateX(8px);
        transition: 0s;
        transition-timing-function: linear;
        color: rgb(0, 0, 0);
      }
      &:active{
        transition: 0s;
        
      }
    }
  }
}