.tokyo:root {

  /*corners, etc.*/
  --cornerSize: 4px;
  --smallCornerSize: 4px;
  --defaultPadding: 8px;

  /*main page*/
  --pageBackBG: #1a1b27;
  --pageForeBG: #24263a;
  --navBarColor: #ffffffa2;
  --borderColor: #0b0221;
  --windowBorderColor: #8f98ff;
  --windowTopBorderColor: #8f98ff;

  /*page elements*/
  --mainText: #e7f4ff;
  --secondaryText: #e7f4ff;
  --buttonText: #ffffffa0;
  --accentColor: #8f98ff;
  --mainButtonColor: #8f98ff;


  nav {
    // background: linear-gradient(90deg, #3b00ba6b 0%, rgba(0, 99, 219, 0.459) 100%); looks cool
    background-color: #24263a;
    border-bottom: #8f98ff;
    border-bottom-width: 1px;
    border-bottom-style: outset;
    display: flex;
    filter: none;
  }

  .navButton:active {
    background-color: #ffffff28;
    color: white;
  }

  a{
    color: var(--secondaryText);
    text-decoration: underline;
  }

  .titleBar {
    background: #24263a
  }

  .textInput,
  select {
    background: linear-gradient(0deg, rgb(219, 219, 219) 0%, rgb(218, 218, 218) 100%);
    box-shadow: inset 2px 2px 5px #10101000, inset -2px -2px 5px #10101000 !important;
    border-width: 1px;
    border-style: solid;
    border-color: var(--borderColor);
  }

  hr {
    border-top: 1px solid rgba(26, 26, 26, 0.489);
  }


  .mainButton {
    background-color: var(--pageBackBG);
    filter: drop-shadow(0px 0px 5px #00000000);
    border-color: var(--mainButtonColor);
    border-top-color: var(--mainButtonColor);
    &:hover{
      background-color: var(--mainButtonColor);
      border-color: var(--mainButtonColor);
      border-top-color: var(--mainButtonColor);
      transform: none;
    }
    &:active{
      transform: none;
      background-color: var(--pageBackBG);
    }
  }
  
  .logo {
    color: var(--mainText)
  }

  .logo:hover {
    color: #ffcdcd;
  }

  ::-moz-selection {
    color: var(--accentColor);
    background: #362929;
  }

  ::selection {
    color: var(--accentColor);
    background: #ff752534;
  }


  .trashButton,
  .trashButton:hover,
  .trashButton:active,
  .warningButton,
  .warningButton:hover,
  .warningButton:active,
  .successButton,
  .successButton:active,
  .successButton:active,
  .secondaryButton,
  .secondaryButton:active,
  .secondaryButton:hover {
    background-color: #0000002a;
    color: #ffffff;
  }


  .bottomButtons{
    .mainButton{
      background-color: rgba(255, 255, 255, 0.811);
      border-width: 1px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.35);
      color: var(--mainText);
    
    &:hover{
      background-color: white;
    }
    &:active{
      background-color: white;
    }
    }
  }


  .slider{
    background-color: #1a1b27;
  }
  input:checked+.slider {
    background-color: var(--mainButtonColor);
  } 
  .slider:before {
    background-color: var(--mainText);
  }

  /* REPORTS */

  .report {
    filter: drop-shadow(0px 0px 0px #0000005a);
    background-color: var(--navBarColor);
    border-style: solid;
    border-width: 1px;
    border-color: #38383869;
    border-top-color: #ffffff2f;
    border-radius: var(--smallCornerSize);
  }

  .report:hover {
    filter: drop-shadow(0px 0px 0px #0000009d);
    transform: scale(102.5%);
    transition: 0.5s;
    background-color: #eaeaea9d;

  }


  .expired {
    background-color: #ff9faf5f;
    &:hover{
      background-color: #ff9faf5f;
    }
  }


  .reportTitle {
    margin: -21px;
    margin-top: -9px;
    margin-bottom: 0px;
    border-radius: var(--smallCornerSize);
    border-style: solid;
    border-width: 1px;
    height: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .waga1 {
    background-color: rgba(255, 0, 34, 0.5);
    border-color: #885151ab;
  }

  .waga2 {
    background-color: rgba(255, 0, 132, 0.5);
    border-color: #88516e9f;
  }

  .waga3 {
    background-color: rgba(144, 0, 255, 0.5);
    border-color: #6e5188ab;
  }






  /* MODALS */

  .modalContainer {
    background-color: #0000006e;
  }



  .modal {
    backdrop-filter: blur(20px);
    background-color: #16161678;
    filter: drop-shadow(0px 0px 10px #00000000);
    border-color: rgb(44, 44, 44);
    color: rgb(197, 197, 197);
    a{color: white;}
    .mainButton{
      background-color: #ffffff4e;
    }
    .successButton{
      background-color: #76ff5e4e;
      &:hover{
        background-color: #76ff5e4e;
      }
      &:active{
        background-color: #00aa4a4e;
      }
    }
    .daysLeftText{
      color: rgb(197, 197, 197);
    }
  }

  .modalTitle {
    background-color: rgba(255, 0, 0, 0);
  }

  .modalInfo {
    background-color: #ff000000;
  }

  .modalDescription {
    background-color: #0040ff00;
  }


  .progressBar {
    background-color: rgba(0, 0, 0, 0);
  }

  .progressBarText {
    color: rgba(0, 0, 0, 0.379);
  }

  .pagination{
    button{
      background-color: #ffffff9e;
      color:black;
      &:hover{
        color:rgb(255, 0, 81)
      }
      &:active{
        color: rgb(150, 0, 130);
      }
    }
  }

  .logElement {
    background-color: #c6c6c6;
  }
  
  .logElement:nth-child(even) {
    background-color: #dadada;
  }
}