

/*=================================FONT STUFF================================*/


@font-face {
  font-family: sfProDisplay;
  font-weight:bold;
  src: url("assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}

@font-face {
  font-family: sfProDisplay;
  font-weight:medium;
  src: url("assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}
@font-face {
  font-family: sfProDisplay;
  font-weight:bolder;
  src: url("assets/fonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
}
@font-face {
  font-family: sfProDisplay;
  font-weight:normal;
  src: url("assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

::-moz-selection {
  color: var(--accentColor);
  background: #362929;
}

::selection {
  color: var(--accentColor);
  background: #362929;
}

.logo{
  font-family: 'sfProDisplay';
  font-weight: bolder;
  transition: 1s;
  font-size: 25px;
  width: 80px;
}
.logo:hover{
  color: var(--accentColor);
  transition: 1s;
  cursor: pointer;
}

.text-justify{
  text-align: justify;
}

.content-padding{
  padding: 15px;
}