

/*=================================FONT STUFF================================*/


@font-face {
  font-family: sfProDisplay;
  font-weight:bold;
  src: url("assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}

@font-face {
  font-family: sfProDisplay;
  font-weight:medium;
  src: url("assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}
@font-face {
  font-family: sfProDisplay;
  font-weight:bolder;
  src: url("assets/fonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
}
@font-face {
  font-family: sfProDisplay;
  font-weight:normal;
  src: url("assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

::-moz-selection {
  color: var(--accentColor);
  background: #362929;
}

::selection {
  color: var(--accentColor);
  background: #362929;
}

.logo{
  font-family: 'sfProDisplay';
  font-weight: bolder;
  transition: 1s;
  font-size: 25px;
  width: 80px;
}
.logo:hover{
  color: var(--accentColor);
  transition: 1s;
  cursor: pointer;
}

.text-justify{
  text-align: justify;
}

.content-padding{
  padding: 15px;
}

hr{
  color: rgba(255, 255, 255, 0.120)
}


  /******************/
 /* DROPDOWN MENUS */
/******************/

.dropbtn {
  margin-bottom: 12px;
  margin-top: 6px;

  background: linear-gradient(0deg, rgb(38, 38, 38) 0%, rgba(34,34,34,1) 100%); 
  border-color: #1d1d1d;
  border-width: 1px;
  color: var(--mainText);
  box-shadow: inset 2px 2px 5px #1010104a,inset -2px -2px 5px #1010104a !important;
  border-style: none;
  border-radius: var(--smallCornerSize);
  padding: var(--defaultPadding);
  min-width: 528px;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  background-color: #ffffff0f;
  color:var(--mainText);
  min-width: 160px;
  z-index: 1;

  filter: drop-shadow(0px 0px 5px #0000005a);
  backdrop-filter: blur(20px);

  /* padding: var(--defaultPadding);
  border-bottom: #ffffff53;
  border-bottom-width: 1px;
  border-bottom-style: outset; */
}

.dropdown-content a {
  width: 500px;
  color:var(--mainText);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:focus-within .dropdown-content {display: block;}
